<div class="summary_box">
  <div class="box">
    <span class="price">{{summary.totalBets}}</span><br>
    <span class="description">APOSTAS</span>
    <i class="material-icons">people</i>
  </div>
  <div class="box">
    <span class="price">{{summary.firstPlaceAward}}</span><br>
    <span class="description">PREMIAÇÃO 1º LUGAR</span>
    <i class="material-icons">emoji_events</i>

  </div>
  <div class="box">
    <span class="price">{{summary.secondPlaceAward}}</span><br>
    <span class="description">PREMIAÇÃO 2º LUGAR</span>
    <i class="material-icons">emoji_events</i>

  </div>
  <div class="box">
    <span class="price">{{summary.minorHitAward}}</span><br>
    <span class="description">PREMIAÇÃO MENOR ACERTO</span>
    <i class="material-icons">emoji_events</i>

  </div>
</div>
