{% extends "layout.njk" %}

{% block head %}

          <title>Bingo - Lista de Edições</title>

{% endblock %}

{% block title %}

          <h1>BINGO - LISTA DE EDIÇÕES</h1>

          <div class="breadcrumb">
            <span>
              HOME
              <i class="material-icons">chevron_right</i>
              BINGO - LISTA DE EDIÇÕES
            </span>
          </div>

{% endblock %}

{% block content %}

      {% include 'bingo/table.njk' %}

{% endblock %}
