<label for="name">EDIÇÃO</label>
<div class="imput_container">
  <i class="material-icons">turned_in</i>
  <input
    type="text"
    name="edition"
    required
    value="{{ bingo.edition }}"
    placeholder="Digite o nome"
    readonly
  >
  <span class="error"></span>
</div>

<label for="name">DATA DE INÍCIO</label>
<div class="imput_container limit_container">
  <i class="material-icons">event</i>
  <input
    {# type="text" #}
    type="date"
    name="start_date"
    required
    maxlength="8"
    min="2020-08-01"
    max="2040-01-01"
    pattern="/^(((0[1-9]|[12][0-9]|3[01])([-./])(0[13578]|10|12)([-./])(\d{4}))|(([0][1-9]|[12][0-9]|30)([-./])(0[469]|11)([-./])(\d{4}))|((0[1-9]|1[0-9]|2[0-8])([-./])(02)([-./])(\d{4}))|((29)(\.|-|\/)(02)([-./])([02468][048]00))|((29)([-./])(02)([-./])([13579][26]00))|((29)([-./])(02)([-./])([0-9][0-9][0][48]))|((29)([-./])(02)([-./])([0-9][0-9][2468][048]))|((29)([-./])(02)([-./])([0-9][0-9][13579][26])))$/"
    value="{{ bingo.start_date }}"
    placeholder="Ex: 00/00/0000"
    readonly
  >
  <span class="error"></span>
</div>

<label for="name">STATUS</label>
<div class="imput_container limit_container">
  <i class="material-icons">toggle_on</i>
  <input
    type="text"
    name="status"
    required
    value="{{ bingo.status }}"
    readonly
  >
  <span class="error"></span>
</div>

<label for="name">APOSTAS</label>
<div class="imput_container limit_container">
  <div class="imput_radio">
      <div class="element">
        <span>
        <input
          type="radio"
          name="released_bets"
          value="A"
          id="released_active"
          {% if bingo.released_bets == 'A' %} checked {% endif %}
        >
      </span>
      <span><label for="released_active"> Liberar</label></span>
      </div>

      <div class="element">
        <span>
          <input
            type="radio"
            name="released_bets"
            value="I"
            id="released_inactive"
            {% if bingo.released_bets == 'I' %} checked {% endif %}
          >
        </span>
        <span><label for="released_inactive"> Bloquear</label></span>
      </div>
  </div>
</div>
