<label for="name">EDIÇÃO</label>
<div class="imput_container">
  <i class="material-icons">turned_in</i>
  <input
    type="number"
    name="edition"
    required
    value="{{ bingo.edition }}"
    placeholder="Digite o número"
  >
  <span class="error"></span>
</div>
