<div class="tab_table">
  <h2>LISTA DE EDIÇÕES</h2>
  <table>
    <tr>
      <th>EDIÇÃO</th>
      <th>INICIO</th>
      <th>FINALIZADO</th>
      <th>STATUS</th>
      <th>RESUMO</th>
    </tr>
    <tr>
    {% for bingo in bingoList %}
    <tr>
      <td>{{bingo.edition}}ª</td>
      <td>{% if bingo.start_date != null %} {{bingo.start_date}} {% else  %} - {% endif %}</td>
      <td>
        {% if bingo.end_date %}
          {{bingo.end_date}}
        {% else %}
          --
        {% endif %}</td>
      <td
        {% if bingo.status == "ATIVO" %}
          class="active"
        {% else %}
          class="finished"
        {% endif %}
      >{{bingo.status}}
      </td>

      {# MOSTRA DADOS NA LIST DE BINGOS #}
      {% if bingo.summary_pdf != 0 %}
          <td><a href="/bingos/{{bingo.id}}/download" target="_blank">Baixar PDF</a></td>
      {% else %}
        <td> <span> Sem dados</span></td>
      {% endif %}
    </tr>
    {% endfor %}


  </table>
</div>
