

/* ESTILOS USADOS PARA CENTRALIZAR FORMULÁRIO NA PÁGINA DE SIGNIN*/

#container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content{
  justify-content: center;
  align-items: center;


  display: flex;
  flex-direction: row;

  width: 100%;
  max-width: 340px;
}

.content form{
  width: 100%;
  text-align: center;
  border: 1px solid #2d2c3c;
  padding: 0 10px;
  padding-bottom: 20px;

}

.content form h1 {
  font-size: 32px;
  margin-bottom: 24px;
  border-bottom: 1px solid #2d2c3c;
  padding: 8px 0;
}

.content form a {
  color: #f4ede8;
  display: block;
  margin-top: 30px;
  text-decoration: none;
  transition: color 0.2s;
}

.content form a:hover {
  color: #25776e;
}
