{% extends "layout.njk" %}

{% block head %}

          <title>Cadastrar novo Apostador</title>

{% endblock %}

{% block title %}

          <h1>CADASTRAR NOVO APOSTADOR</h1>

          <div class="breadcrumb">
            <span>
              HOME
              <i class="material-icons">chevron_right</i>
              CADASTRAR NOVO APOSTADOR
            </span>
          </div>

{% endblock %}

{% block content %}

  <div class="informative">
    <div class="alert">
      <span class="material-icons">report_problem</span>
      Antes de cadastrar um apostador realize uma pesquisa para verificar se o mesmo já está cadastrado no sistema!
    </div>
  </div>

  <div class="btn_search">
    <a href="/punters/search">
      <i class="material-icons">search</i>
      Ir para pesquisa
      <i class="material-icons">arrow_forward</i>
    </a>
  </div>

  <form id="form_register" method="POST" action="/punters/register" onsubmit="return validateForm()">

    {% include 'punter/fields.njk' %}

    <button type="submit">Cadastrar</button>
  </form>

  {% include 'punter/table.njk' %}

{% endblock %}
