<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/styles/GlobalStyles.css">

    <title>SignIn</title>
  </head>
  <body>
      {# CONTÉM POSIÇÃO FIXED RELATIVA AO BODY #}
      <header>
        <div class="header_content">
          <h1>BETTING SYSTEM</h1>
        </div>
      </header>

      {# MENU MOBILE #}
      {# CONTÉM POSIÇÃO FIXED RELATIVA AO BODY #}
      <button class="btn_mob_menu toggle_menu">
        <i class="material-icons">menu</i>
      </button>

      {# MENU OVERLAY #}
      {# CONTÉM POSIÇÃO FIXED RELATIVA AO BODY #}
      <div class="menu_overlay toggle_menu"></div>

      <div class="mob_menu default_menu btn_mob_menu_is_closed">
        <div class="box_avatar">
          <img src="assets/61638378.jpg" width="100" alt="Bradley Cooper">
          <span>Bradley Cooper</span>
        </div>
        <hr>
        <ul>
          <li class="active"><i class="material-icons">shopping_bag</i><a href="">DASHBOARD</a></li>
          <li><i class="material-icons">verified_user</i><a href="">CADASTRAR BOLÃO</a></li>
          <li><i class="material-icons">autorenew</i><a href="">CADASTRAR USUÁRIO</a></li>
          <li><i class="material-icons">build</i><a href="">CADASTRAR APOSTADOR</a></li>
          <li><i class="material-icons">settings</i><a href="">SETTINGS</a></li>
        </ul>
      </div>

      <div id="content">
        <section id="sidebar">
            <div id="box_avatar">
              <img src="assets/61638378.jpg" width="100" alt="Bradley Cooper">
              <span>Bradley Cooper</span>
              <div id="info_user">
                <div class="box_user">
                  <span class="price">25</span><br>
                  <span class="description">VENDAS</span>
                </div>
                <div class="box_user">
                  <span class="price">R$ 1.250,00</span><br>
                  <span class="description">ARRECADAÇÃO</span>
                </div>
              </div>
            </div>
            <div class="desk_menu default_menu">
              <h2>MENU</h2>
              <ul>
                <li class="active"><i class="material-icons">shopping_bag</i><a href="">DASHBOARD</a></li>
                <li><i class="material-icons">verified_user</i><a href="">CADASTRAR BOLÃO</a></li>
                <li><i class="material-icons">autorenew</i><a href="">CADASTRAR APOSTA</a></li>
                <li><i class="material-icons">build</i><a href="">CADASTRAR APOSTADOR</a></li>
                <li><i class="material-icons">settings</i><a href="">SETTINGS</a></li>
              </ul>
            </div>
        </section>

        <section id="pages">
          <h1>DASHBOARD</h1>

          <div class="breadcrumb">
            <span>
              HOME
              <i class="material-icons">chevron_right</i>
              DASHBOARD
            </span>
          </div>

          <div class="summary_box">
            <div class="box">
              <span class="price">R$ 5.650,00</span><br>
              <span class="description">ARRECADAÇÃO TOTAL</span>
              <i class="material-icons">attach_money</i>
            </div>
            <div class="box">
              <span class="price">202</span><br>
              <span class="description">APOSTADORES</span>
              <i class="material-icons">people</i>
            </div>
            <div class="box">
              <span class="price">R$ 5.650,00</span><br>
              <span class="description">PREMIAÇÃO 1º LUGAR</span>
              <i class="material-icons">emoji_events</i>

            </div>
            <div class="box">
              <span class="price">R$ 5.650,00</span><br>
              <span class="description">PREMIAÇÃO 2º LUGAR</span>
              <i class="material-icons">emoji_events</i>

            </div>
          </div>

          <div class="tab_table">
            <h2>RANKING</h2>
            <table>
              <tr>
                <th colspan="2">GANHADORES</th>
                <th colspan="2">PREMIAÇÃO</th>
              </tr>
              <tr>
                <th>ACERTOS</th>
                <th>QTD</th>
                <th>POR GANHADOR</th>
                <th>TOTAL</th>
              </tr>
              <tr>
              <tr>
                <td>10</td>
                <td>1</td>
                <td>$R 6.000,00</td>
                <td>$R 6.000,00</td>
              </tr>
              <tr>
                <td>9</td>
                <td>12</td>
                <td>$R 67,00</td>
                <td>$R 808,00</td>
              </tr>
              <tr>
                <td>8</td>
                <td>12</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>7</td>
                <td>12</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>6</td>
                <td>12</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>5</td>
                <td>12</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>4</td>
                <td>12</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>MENOR ACERTO</td>
                <td>12</td>
                <td>-</td>
                <td>-</td>
              </tr>
            </table>
          </div>

          <div class="tab_table">
            <h2>SORTEIOS QUINA</h2>
            <table>
              <tr>
                <th colspan="2"></th>
                <th colspan="5">DEZENAS</th>
              </tr>
              <tr>
                <th>CONC.</th>
                <th>DATA</th>
                <th>01</th>
                <th>02</th>
                <th>03</th>
                <th>04</th>
                <th>05</th>
              </tr>
              <tr>
              <tr>
                <td>5579</td>
                <td>25/08/21</td>
                <td>25</td>
                <td>10</td>
                <td>09</td>
                <td>11</td>
                <td>35</td>
              </tr>
              <tr>
                <td>5579</td>
                <td>25/08/21</td>
                <td>25</td>
                <td>10</td>
                <td>09</td>
                <td>11</td>
                <td>35</td>
              </tr>
              <tr>
                <td>5579</td>
                <td>25/08/21</td>
                <td>25</td>
                <td>10</td>
                <td>09</td>
                <td>11</td>
                <td>35</td>
              </tr>
              <tr>
                <td>5579</td>
                <td>25/08/21</td>
                <td>25</td>
                <td>10</td>
                <td>09</td>
                <td>11</td>
                <td>35</td>
              </tr>
            </table>
          </div>
        </section>
      </div>

      <footer>
          © Betting System
      </footer>
    {# </div> #}

  <script src="/scripts/main.js"></script>

  </body>
</html>
