<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap" rel="stylesheet">


  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="/styles/GlobalStyles.css">
  <link rel="stylesheet" href="/styles/SignInStyles.css">

  <title>SignIn</title>
</head>
<body>
  <div id="container">
    <div class="content">
      <form>
        <h1>LOGIN</h1>

        <div class="imput_container">
          <i class="material-icons">mail_outline</i>
          <input type="text" placeholder="E-mail">
        </div>
        <div class="imput_container">
          <i class="material-icons">lock_open</i>
          <input type="password" placeholder="Senha">
        </div>

        <button type="submit">Entrar</button>

        <a href="forgot">Esqueci minha senha</a>
      </form>
    </div>
  </div>
</body>
</html>

