{% extends "layout.njk" %}

{% block head %}

          <title>Cadastrar novo usuário</title>

{% endblock %}

{% block title %}

          <h1>CADASTRAR NOVO USUÁRIO</h1>

          <div class="breadcrumb">
            <span>
              HOME
              <i class="material-icons">chevron_right</i>
              CADASTRAR NOVO ADMIN
            </span>
          </div>

{% endblock %}

{% block content %}

      <form id="form_register" method="POST" action="/users/register" onsubmit="return validateForm()">

        {% include 'user/fields.njk' %}

        <button type="submit">Cadastrar</button>
      </form>

{% endblock %}
