/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
}

html, body {
  min-height: 100vh;
}

body{
  background-image: url(../assets/background_app.jpg);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  position: relative;
}

body, input, button{
  font-family: 'Titillium Web', serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

button{
  cursor: pointer;
}

/* HEADER */
header {
  width:  100%;
  height: 60px;
  background: #151523;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1250;
}

header .header_content{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  position: relative;
}

header .header_content h1 {
  margin-left: 16px;
}

/* CONTENT */

#content {
  margin: 0 auto;
  /* height: 100%; */
  margin-top: 60px;
  display: flex;
  flex-direction: row;

  width: 100%;
  max-width: 1200px;
}

.box_content{
  padding-top: 32px;
}

/* SIDEBAR */

#content #sidebar {
  width: 300px;
  /* height: 100vh; */
  background: rgb(37,24,41);
  background: linear-gradient(180deg, rgba(37,24,41,1) 0%, rgba(15,15,27,0) 100%, rgba(15,15,27,1) 80%);
}

#box_avatar{
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#box_avatar img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#box_avatar>span {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  text-align: center;
}

#box_avatar #info_user {
  margin-top: 16px;
  width: 100%;
  text-align: center;
}

#info_user .description {
  font-size: 12px;
  color: #56baca;
}
#info_user .value {
  font-size: 12px;
}

/* STANDARD MENU STYLE */
.default_menu .item_menu{
  position: relative;
  line-height: 50px;
}

.default_menu .item_menu>a {
  color: #fff;
  text-decoration: none;
}

.default_menu .item_menu>a, .subitem a {
  display: block;
  height: 50px;
  padding-left: 40px;
}

.default_menu .item_menu a:hover, .subitem a:hover {
  background: rgba(86,186,202,0.05);
}

.default_menu .item_menu>a.active, .default_menu .subitem>a.active{
  background: rgba(86,186,202,0.05);
}

.default_menu .item_menu>a i{
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
}

.subitem {
  position: relative;
}

.subitem a {
  padding-left: 45px;
  display: block;
  color: #4fa5b5;
  font-weight: bold;
  text-decoration: none;
  line-height: 40px;
}

.subitem a i {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 18px;
  color: #4fa5b5;
}

/* ANIMAÇÃO MENU DROPDOWN */
/* .sub_menu_visible{
  max-height: 300px;
  opacity: 1;
  transition: all 200ms;
}

.sub_menu_invisible{
  max-height: 0;
  opacity: 0;
  transition: all 200ms;
} */
/* ANIMAÇÃO MENU DROPDOWN */

.btn_logout {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.btn_logout:hover {
  background: rgba(86,186,202,0.05);
}

.btn_logout i {
  font-size: 18px;
}

.default_menu button {
  background-color: transparent;
  color: #fff;
  border: none;
  width: 185px;
  height: 50px;
  text-align: left;
  margin-left: 10px;
}

/* MENU DESKTOP */

#sidebar .desk_menu{
  margin-top: 30px;
}

#sidebar .desk_menu h2 {
  color: #5d858d;
  margin-left: 20px;
}

/* MENU MOBILE */

.mob_menu {
  width: 240px;
  height: 100vh;
  padding-top: 44px;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1350;
  background: rgb(37,24,41);
  background: linear-gradient(180deg, rgba(37,24,41,1) 0%, rgba(15,15,27,1) 100%, rgba(15,15,27,1) 100%);
  transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.default_menu hr {
  border: solid 1px rgba(19, 85, 95, 0.3);
  height: 3px;
}

.btn_mob_menu{
  border: none;
  background: none;
  width: 45px;
  height: 45px;
  position: fixed;
  border-radius: 20%;
  right: 30px;
  top: 8px;
  z-index: 1450;
}

.btn_mob_menu i{
  font-size: 44px;
  color: #4fa5b5;
}

.btn_mob_menu_is_open {
  right: 0;
}

.btn_mob_menu_is_closed {
  right: -240px;
}

.menu_overlay {
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(19, 85, 95, 0.93);
  z-index: 1300;
}

.menu_overlay_is_open {
  display: block;
}

/* CONTENT PAGES */

#content #pages {
  width: 100%;
  height: 100%;
  padding: 20px 30px 50px 30px;
}

#content #pages h1 {
  font-size: 24px;
}

#content #pages .breadcrumb span{
  display: flex;
  align-items: center;
  color: #4fa5b5;
  font-size: 12px;
}

#content #pages span i {
  font-size: 16px;
  margin: 0 5px;
  align-items: center;
}

#pages .content_separator {
  margin: 48px 0;
  border: solid 1px #2d2c3c;
}


#pages .summary_box {
  display: flex;
  flex-wrap: wrap;
}

.summary_box .box {
  border: solid 1px #2d2c3c;
  padding: 2%;
  flex-grow: 1;
  flex-basis: 21%;
  position: relative;
}

.summary_box .box .price {
  font-size: 24px;
}

.summary_box .box .description {
  font-size: 13px;
  color: #4fa5b5;
}

.summary_box .box i {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #4fa5b5;
}

/* FORM & COMPONENTS */

#content #form_register {
  width: 100%;
  padding: 0 0px;
}

.imput_container {
  border-radius: 10px;
  border: 2px solid #2d3c41;
  padding: 0 16px;
  width: 100%;
  position: relative;

  display: flex;
  align-items: center;
}

.imput_container + div {
  margin-top: 8px;
}

.imput_container i {
  margin-right: 16px;
  color: #666360;
  font-size: 20px;
}

.input_container:focus {
  border-color: #20655d;
}

.limit_container {
  max-width: 250px;
}

#form_register label {
  line-height: 35px;
  color: #4fa5b5;
}

#form_register label:nth-child(n+2) {
  margin-top: 16px;
  display: block;
}

#form_register input {
  flex: 1;
  color: #f4ede8;
  background: transparent;
  border: none;
  height: 50px;
}

#form_register input::placeholder {
  color: #9b9792;
}

#form_register input + input {
  margin-top: 8px;
}

#form_register .msg{
  color: #e75555;
  text-align: right;
  position: absolute;
  top: -30px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form_register .msg i{
  color: #e75555;
}

#form_register select {
  width: 100%;
  height: 50px;
  color: #9b9792;

  /* retira estilização padrão do select */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* trazer de volta o icone lateral */
  border: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, transparent 0%,transparent 100%);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

#form_register input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  cursor: pointer;
}
#form_register input[type="date"]{
  width: 100%;
  height: 50px;
  color: #9b9792;

  /* retira estilização padrão do select */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* trazer de volta o icone lateral */
  border: none;
  background-image: url(../assets/7345176951582534622.svg),
      linear-gradient(to bottom, transparent 0%,transparent 100%);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right .1em top 50%, 0 0;
  background-size: 1.55em, 100%;
}

#form_register .imput_radio {
  display: flex;
  align-items: center;
  position: relative;
}

/* POSSUI ALTERAÇÃO EM TELA PEQUENAS */
#form_register .imput_radio .gambi {
  position: absolute;
  top: 0;
  left: -10px;
  width: 100%;
  max-width: 300px;
  height: 55px;
}


#form_register .imput_radio .element {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

#form_register .imput_radio .element p {
  display: none;
}

#form_register .imput_radio span{
  display: inline-block;
}

input[type="radio"]{
  margin-right: 10px;
}

#form_register .input_select {
  width: 300px;
}

#form_register>button {
  background: #20655d;
  height: 56px;
  border-radius: 10px;
  border: 0;
  padding: 0 16px;
  color: #f4ede8;
  width: 100%;
  font-weight: bold;
  margin-top: 48px;
}

#form_register button.emphasis {
  background: #245b97;
}

#form_register>button:hover {
  background: #25776e;
}

#form_register button.emphasis:hover {
  background: #1c4674;
}

#form_register button.disabled {
  background: #9b9792;
}

/* Validate Errors */

.imput_container span.error {
  background-color: #c53030;
  border-radius: 4px;
  color: #f4ede8;
  margin-top: 20px;
  position: absolute;
  top: 28px;
  right: 10px;
}

.imput_container span.error.active {
  border: 1px solid #b13b2e;
  padding: 0.4em;
  z-index: 1000;
}

.imput_container span.error_repeat {
  background-color: #e74c3c;
  border-radius: 4px;
  color: #f4ede8;
  margin-top: 20px;
  position: absolute;
  top: 28px;
  right: 10px;
  z-index: 1000;
}

.imput_container span.error_repeat.active2 {
  border: 1px solid #b13b2e;
  padding: 0.4em;
  z-index: 1000;
}

/* FOOTER */

footer {
  width:  100%;
  padding: 16px;
  background: #151523;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

/* MOBILE STYLE*/
@media screen and (max-width: 450px){
  .summary_box .box .price {
    font-size: 16px;
  }

  .summary_box .box .description {
    font-size: 11px;
  }

  /* ESTILIZAÇÃO PARA INPUT QUE POSSUAM GAMBI DE ACULTAÇÃO */
  #form_register .imput_radio {
    display: inline;
    align-items: center;
    position: relative;
  }
  #form_register .imput_radio .gambi {
    position: absolute;
    top: 0;
    left: -10px;
    width: 150px;
    height: 165px;
  }
}

@media screen and (max-width: 1000px){
  #content #sidebar {
    display: none;
  }

  #pages .box {
    flex: 1 46%;
  }

  .summary_box .box:nth-child(2n+1) {
    margin-right: 10px;
  }
  .summary_box .box:nth-child(n+3):nth-child(-n+4) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1000px){
  .summary_box .box:nth-child(n+1):nth-child(-n+3) {
    margin-right: 10px;
  }

  .btn_mob_menu {
    display: none;
  }
}
