/* TABLE */
.tab_table {
  border: solid 1px #2d2c3c;
  margin: 32px 0 5px 0;
}

.tab_table h2 {
  font-size: 20px;
  color: #4fa5b5;
  padding: 8px 0;
  margin-left: 1.5%;
}
.tab_table h2 span {
  color: azure;
}

.tab_table table{
  width: 100%;
}

.tab_table table, th, td {
  border: 1px solid #2d2c3c;
  border-collapse: collapse;
  padding: 5px;
}

.tab_table table tr:nth-child(1){
  background-color: rgba(86,186,202,0.1);
}

.tab_table tr th {
  background-color: rgba(86,186,202,0.09);
}

.tab_table table tr:nth-child(2n+3) {
  background-color: rgba(86,186,202,0.03);
}

.tab_table table tr.detach {
  color: #4fa5b5;
}

.tab_table tr td {
  text-align: center;
}

.tab_table tr td.no-register {
  color: rgb(233, 103, 80);
  font-weight: 600;
}

.tab_table tr td.detach {
  color: #4fa5b5;
  letter-spacing: 0.08em;
  font-weight: bold;
}

.tab_table tr td a {
  color: #2b887d;
  font-weight: bold;
}

.tab_table tr td a:hover {
  color: #34a093;
}

table tr td.active {
  color: #00f721;
}

table tr td.finished {
  color: #ad5d5d;
}

table tr .minor_hit {
  color: rgb(23, 145, 59);
  font-weight: bold;
}

table tr td.detach_number {
  background:rgba(86,186,202,0.4);
  font-weight: bold;
}

/* .tab_table tr td.td_ball{
  text-align: center;
}
.tab_table tr td div.ball {
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: #f4ede8;
  border: 1px solid #151523;
  background: #151523;
  font-weight: bold;
  background-image: linear-gradient(45deg, #817e9e, #fff);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 12px;
} */
/* .tab_table tr td div.ball span {
  background: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
} */
