.informative {
  max-width: 1200px;
  padding: 2px;
  margin: 5px 0;
  margin-bottom: 16px;
}

.informative>div {
  font-size: 16px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.informative>div span {
  margin-right: 10px;
  font-size: 20px;
}

.informative .alert {
  justify-content: center;
  color: azure;
  background: #c53030;
  border: 1px solid #a0371d;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.informative .info {
  font-weight: bold;
  color: rgb(39, 38, 46);
  background: #FFF7DF;
  border: 1px solid #FFE7A0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.informative .info_input {
  color: #b9ac71;
}

.informative .info_input span {
  color: #20655d;
}

.visible_msg {
  display: block;
}

.invisible_msg {
  display: none
}
