{% extends "layout.njk" %}

{% block head %}

          <title>Lista de Ganhadores</title>

{% endblock %}

{% block title %}

          <h1>LISTA DE GANHADORES</h1>

          <div class="breadcrumb">
            <span>
              HOME
              <i class="material-icons">chevron_right</i>
              LISTA DE GANHADORES
            </span>
          </div>

{% endblock %}

{% block content %}

        <div class="informative">
            <div class="info">
              <span class="material-icons">report_problem</span>
              Foram encontrados ganhadores no sistema!
            </div>
          </div>

        {# <div class="informative">
          <div class="info">
            {{noDuplicates}}
          </div>
        </div> #}

  {% include 'report/table.njk' %}

{% endblock %}
