{% extends "layout.njk" %}

{% block head %}

          <title>Cadastrar Aposta</title>

{% endblock %}

{% block title %}

          <h1>CADASTRAR APOSTA</h1>

          <div class="breadcrumb">
            <span>
              HOME
              <i class="material-icons">chevron_right</i>
              CADASTRAR APOSTA
            </span>
          </div>

{% endblock %}

{% block content %}

<div class="informative">
  <div class="alert">
    <span class="material-icons">report_problem</span>
    {{ message }}
  </div>
</div>

{% endblock %}
