  <form id="form_register" method="POST" action="/bettings/{{userId}}/register" onsubmit="ManageBets.validateForm(event);">
    <div class="tab_info">
      <h3>DADOS DO APOSTADOR</h3>
      <p><span>Nome: </span>{{punter.name}}</p>
      <p><span>Referência: </span>{{punter.surname}}</p>
      <p><span>Telefone: </span>{{punter.phone}}</p>
      <p><span>Valor da aposta: </span>R$ 50,00</p>

      {# STATUS DO PAGAMENTO #}
      <label for="name">STATUS DO PAGAMENTO</label>
      <div class="imput_container limit_container" style="padding-top: 5px; padding-bottom: 5px;">
        <div class="imput_radio">
            <div class="element">
              <span>
              <input
                type="radio"
                name="payment_status"
                value="Y"
                id="paid_out"
                required
                {% if bingo.payment_status == 'Y' %} checked {% endif %}
              >
              <span class="error"></span>
            </span>
            <span><label for="paid_out"> Pago</label></span>
            </div>

            <div class="element">
              <span>
                <input
                  type="radio"
                  name="payment_status"
                  value="N"
                  id="payment_pending"
                  required
                  {% if bingo.payment_status == 'N' %} checked {% endif %}
                >
                <span class="error"></span>
              </span>
              <span><label for="payment_pending"> Pendente</label></span>
            </div>
        </div>

      </div>
      {# FIM STATUS DO PAGAMENTO #}

      <label for="name">SELECIONE O NÚMERO DA COTA</label>
      <div class="imput_container input_select">
        <i class="material-icons">admin_panel_settings</i>
        <select name="quota" required>
          <option value="" >Selecione</option>
          {% for selectQuota in selectQuotas %}
            <option value="{{selectQuota.number_hits}}">Quota {{selectQuota.number_hits}}</option>
          {% endfor %}
        </select>
        <span class="error"></span>
      </div>

    </div>

    <div class="tab_info">
      <h3>DADOS DA APOSTA</h3>
      <div class="chosen_numbers">
        <h4 class="title-bets"><span>Escolha os 10 números</span></h4>

          <div class="bets_fields">
            {# BLOCO DE NÚMEROS ADICIONADOS AUTOMATICAMENTE #}
          </div>
          <div class="bets_buttons">
            <button class="resetFields" onclick="ManageBets.resetFields(event);">Limpar campos</button>
            <button class="sendNumbers">Cadastrar Aposta</button>
          </div>

          <input type="hidden" name="userId" value="{{userId}}">
          <input type="hidden" name="bingoId" value="{{bingoId}}">

      </div>
    </div>
  </form>

<div class="tab_info">
  <div class="bets_numbers">
      {# {% for number in numbersQuinary %}
        <div class="item"><button value="{{number}}" onclick="SelectNumbersBets.apply(event, 'formatBRL')">{{number}}</button></div>
      {% endfor %} #}
  </div>
</div>

<div class="tab_info" style="margin-top: 30px">
  <h3 style="margin-bottom: 24px">COTAS JÁ CADASTRADAS</h3>
  {% for bet in bets %}
    <div class="bettings_punter">
      <span>Cadastrada em: </span> {{bet.created_at}} <br>
      <span>Status do Pagamento: </span> {% if bet.payment_status == 'Y' %} Pago {% elif bet.payment_status == 'N' %} Pendente {% endif %}
      <div class="receipt_numbers">
        <span class="detach">COTA {{bet.quota}}: </span>
        <span>{{bet.first_ten}}</span>
        <span>{{bet.second_ten}}</span>
        <span>{{bet.third_ten}}</span>
        <span>{{bet.forth_ten}}</span>
        <span>{{bet.fifth_ten}}</span>
        <span>{{bet.sixth_ten}}</span>
        <span>{{bet.seventh_ten}}</span>
        <span>{{bet.eighth_ten}}</span>
        <span>{{bet.ninth_ten}}</span>
        <span>{{bet.tenth_ten}}</span>
      </div>
    </div>
  {% endfor %}
</div>
