{% extends "layout.njk" %}

{% block head %}

          <title>Cadastrar Aposta</title>

{% endblock %}

{% block title %}

          <h1>CADASTRAR APOSTA</h1>

          <div class="breadcrumb">
            <span>
              HOME
              <i class="material-icons">chevron_right</i>
              CADASTRAR APOSTA
            </span>
          </div>

{% endblock %}

{% block content %}

  <div class="informative">
    <div class="info">
      <span class="material-icons">report_problem</span>
      Selecione um apostador para cadastrar uma nova aposta!
    </div>
  </div>

  <form id="form_register" method="GET" action="/bettings" onsubmit="return validateForm()">

    {% include 'betting/fields_search.njk' %}

    <button type="submit">Pesquisar</button>
  </form>

  {% include 'betting/table.njk' %}

{% endblock %}
