{% extends "layout.njk" %}

{% block head %}

          <title>Lista de Apostas</title>

{% endblock %}

{% block title %}

          <h1>LISTA DE APOSTA</h1>

          <div class="breadcrumb">
            <span>
              HOME
              <i class="material-icons">chevron_right</i>
              LISTA DE APOSTA
            </span>
          </div>

{% endblock %}

{% block content %}



{% endblock %}
