{% extends "layout.njk" %}

{% block head %}

          <title>Lista de Apostas</title>0

{% endblock %}

{% block title %}

          <h1>LISTA DE APOSTA</h1>

          <div class="breadcrumb">
            <span>
              HOME
              <i class="material-icons">chevron_right</i>
              LISTA DE APOSTA
            </span>
          </div>

{% endblock %}

{% block content %}

  {# DADOS DA EDIÇÃO #}
  {% include 'betting/summary_table/edition_data.njk' %}

  {# SORTEIOS DA QUINA #}
  {% include 'betting/summary_table/corner_draws.njk' %}

  {# DEZENAS SORTEADAS #}
  {% include 'betting/summary_table/tens_drawn.njk' %}

  {# LISTA DE APOSTADORES #}
  {% include 'betting/summary_table/list_bettors.njk' %}

{% endblock %}
