{% extends "layout.njk" %}

{% block head %}

          <title>Dados da Aposta</title>

{% endblock %}

{% block title %}

          <h1>DADOS DA APOSTA</h1>

          <div class="breadcrumb">
            <span>
              HOME
              <i class="material-icons">chevron_right</i>
              DADOS DA APOSTA
            </span>
          </div>

{% endblock %}

{% block content %}

    <div id="form_bets">
      <div class="tab_info">
        <h3>DADOS DO APOSTADOR</h3>
        <p><span>Nome: </span>{{punter.name}}</p>
        <p><span>Referência: </span>{{punter.surname}}</p>
        <p><span>Telefone: </span>{{punter.phone}}</p>
        <p><span>Valor da aposta: </span>R$ 50,00</p>
        <p><span>Status do pagamento: </span>{% if bets.payment_status == 'Y' %} Pago {% elif bets.payment_status == 'N' %} Pendente {% endif %}</p>

      </div>

      <div class="tab_info">
        <h3>NÚMEROS ESCOLHIDOS</h3>
        <div class="receipt_numbers">
          {% for number in numbers %}
            <span>{{ number }}</span>
          {% endfor %}
        </div>
      </div>

      <div class="tab_info" style="margin-top: 30px">
        <h3 style="margin-bottom: 24px">COTAS JÁ CADASTRADAS</h3>
        {% if numBets > 0 %}
          {% for bet in bets %}
            <div class="bettings_punter">
              <span>Cadastrada em: </span> {{bet.created_at}} <br>
              <span>Status do Pagamento: </span> {% if bet.payment_status == 'Y' %} Pago {% elif bet.payment_status == 'N' %} Pendente {% endif %}
              <div class="receipt_numbers">
                <span class="detach">COTA {{bet.quota}}: </span>
                <span>{{bet.first_ten}}</span>
                <span>{{bet.second_ten}}</span>
                <span>{{bet.third_ten}}</span>
                <span>{{bet.forth_ten}}</span>
                <span>{{bet.fifth_ten}}</span>
                <span>{{bet.sixth_ten}}</span>
                <span>{{bet.seventh_ten}}</span>
                <span>{{bet.eighth_ten}}</span>
                <span>{{bet.ninth_ten}}</span>
                <span>{{bet.tenth_ten}}</span>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <span class="material-icons" style="font-size: 16px; margin-right: 10px;">visibility_off</span>Ainda não há cotas cadastradas para esse apostador!
        {% endif %}
      </div>

      <div class="tab_info" style="margin-top: 30px">
        <h3>CADASTRAR NOVA APOSTA PARA ESSE APOSTADOR?</h3>
        <a class="" href="/bettings/{{userId}}/register" >Nova Aposta</a>
      </div>

    </div>

{% endblock %}
