<ul>
  <li class="item_menu home"><i class="material-icons">home</i><a href="/">HOME</a></li>
  <li class="item_menu"><i class="material-icons">window</i><a href="/bingos">GERENCIAR BINGOS</a></li>
  {# <li><i class="material-icons">manage_accounts</i><a href="/users/account">CADASTRAR CAMBISTA</a></li> #}
  <li class="item_menu"><i class="material-icons">group_add</i><a href="/punters/register">CADASTRAR APOSTADOR</a></li>
  {# <li><i class="material-icons">manage_accounts</i><a href="/users/account">CADASTRAR USUÁRIO</a></li> #}
  <li><i class="material-icons">receipt</i><a href="/bettings">ADICIONAR APOSTA</a></li>
  {# <li><i class="material-icons">manage_accounts</i><a href="/users/account">GERAR RELATÓRIO</a></li> #}
  <li class="item_menu"><i class="material-icons">adjust</i><a href="/quinarys/register">SORTEIOS DA QUINA</a></li>
  <hr>
  <li class="item_menu"><i class="material-icons">manage_accounts</i><a href="/users/account">MINHA CONTA</a></li>
  <li>
      <i class="material-icons">logout</i>
      <form action="/users/logout" method="POST">
        <button>SAIR</button>
      </form>
  </li>
  <hr>
</ul>
