{% if session.level === 1 %}
  <h2>SUPER ADMIN</h2>
  <ul>
    <hr>
    <li><i class="material-icons">shopping_bag</i><a href="/users/register">ADD USER</a></li>
    <li><i class="material-icons">shopping_bag</i><a href="/users/">SHOW USERS</a></li>
    <hr>
  </ul>
{% endif %}
