<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap"
  rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="../../styles/GlobalStyles.css">
<link rel="stylesheet" href="../../styles/GlobalTable.css">
<link rel="stylesheet" href="../../styles/Messages.css">
<link rel="stylesheet" href="../../styles/Informative.css">
<link rel="stylesheet" href="../../styles/Search.css">
<link rel="stylesheet" href="../../styles/Pagination.css">
<link rel="stylesheet" href="../../styles/FormBets.css">
<link rel="stylesheet" href="../../styles/TableGrid.css">
<link rel="stylesheet" href="../../styles/TableSummary.css">
<link rel="stylesheet" href="../../styles/MenuCollapse.css">
